.article-header {
  background-color: #1565c0;
  color: white;
  border: 3px solid transparent;
  text-align: center;
}

.section-content {
  margin-left: 20%;
  margin-right: 20%;
}

.section-content > button {
  float: right;
}
