.article-header {
  background-color: skyblue;
  color: white;
  border: 3px solid transparent;
  text-align: center;
}

.section-content {
  margin-left: 20%;
  margin-right: 20%;
  min-width: 630px;
}

.section-content > button {
  float: right;
}
